<div class="card card-body">
  <p>Welcome, {{user.firstName}}</p>
  <h3>Your Records</h3>
  {{#if stories}}
    <table class="striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each stories}}
          <tr>
            <td><a href="/stories/read/{{id}}">{{title}}</a></td>
            <td>{{formatDate date 'Do MMM YY'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
              <a href="/stories/update/{{id}}" class="btn left-align"><i class="fas fa-pen fa-xs"></i> Update</a>
              <form action="/stories/{{id}}" method="POST" id="delete-form">
                <button type="submit" class="btn orange darken-2"><i class="fas fa-bomb fa-xs"></i> Destroy</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>You haven't created any records here.</p>
  {{/if}}
</div>
